@font-face {
  font-family: "PT Sans";
  src: url(./fonts/PTS55F.ttf);
  font-weight: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url(./fonts/PTS75F.ttf);
  font-weight: bold;
}

@font-face {
  font-family: "PT Sans";
  src: url("./fonts/PTS56F.ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "PT Sans";
  src: url("./fonts/PTS76F.ttf");
  font-weight: bold;
  font-style: italic;
}

html,
input,
button {
  font-family: "PT Sans";
  font-size: 18px;
  color: #373e48;
}

body {
  max-width: 1600px;
  display: grid;
  margin: auto;
  padding: 48px;
  grid-template-columns: 30% auto;
  gap: 48px;
  counter-reset: li;
}

aside,
main,
footer {
  padding: 48px;
  border: 2px solid #eaecef;
  border-radius: 4px;
}

aside {
  overflow-y: scroll;
}

aside section {
  max-height: 700px;
}

h1 {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 24px;
}

h2 {
  margin-top: 0;
  margin-bottom: 48px;
  font-size: 20px;
  font-weight: normal;
  color: #b7bec8;
  line-height: 1.6;
}

h3 {
  display: inline-block;
  margin: 0;
  margin-bottom: 48px;
  padding-bottom: 24px;
  padding-right: 24px;
  border-bottom: 2px solid #eaecef;
  font-size: 18px;
  font-weight: normal;
  color: #b7bec8;
}

h4 {
  margin: 0;
  line-height: 1;
  font-size: 16px;
  font-weight: normal;
  color: #b7bec8;
}

ol {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1.6;
}

ol > li {
  counter-increment: li;
  display: inline-block;
  margin-bottom: 48px;
  padding-bottom: 48px;
  border-bottom: 2px solid #eaecef;
}

ol > li::before {
  content: counter(li);
  display: block;
  margin-bottom: 18px;
  font-size: 32px;
  font-weight: bold;
  line-height: 1;
}

ul {
  margin-top: 48px;
  padding-left: 48px;
  list-style-type: disc;
  color: #dbdee3;
  line-height: 1;
}

ul span {
  margin-left: -24px;
}

.current-year {
  margin: 0;
}

ul li {
  margin-top: 24px;
  margin-left: 20px;
  color: #b7bec8;
  word-break: break-all;
}

form {
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 18px;
  margin-bottom: 96px;
}

label {
  position: relative;
}

input {
  padding: 9px;
  width: calc(100% - 22px);
  border: 2px solid #eaecef;
  border-radius: 4px;
  font-size: 18px;
}

#show {
  display: inline-block;
  position: absolute;
  top: 25%;
  right: 11px;
  font-size: 16px;
  color: #dbdee3;
}

button {
  padding: 11px;
  background-color: #37d8a9;
  border: unset;
  border-radius: 4px;
  font-size: 18px;
  font-weight: normal;
  color: white;
}

.chart {
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 48px;
}

path {
  stroke: #eaecef;
  stroke-width: 2px;
}

tspan {
  font-size: 5.29166698px;
  fill: #dbdee3;
}

/* Fill for svg elements */
.numbers {
  fill: #fece41;
  background-color: #fece41;
}

.letters {
  fill: #ff8787;
  background-color: #ff8787;
}

.characters {
  fill: #37d8a9;
  background-color: #37d8a9;
}

/* .biggest-height tspan {
  font-size: 5.29166698px;
  fill: #6f32ff;
}

.biggest-height path {
  stroke: #6f32ff;
  stroke-width: 0.52899992;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 3.17399979, 3.17399979;
} */

.chart-grid path {
  stroke: #eaecef;
  stroke-width: 0.5291667;
}

.legend {
  margin-top: -41px;
}

.legend span {
  display: inline-block;
  margin-top: 9px;
  font-size: 16px;
  line-height: 1;
  color: #dbdee3;
}

.legend .lable {
  height: 100%;
  border-radius: 2.343px;
}

.lable-wrapper {
  display: grid;
  grid-template-columns: 21.79px auto;
  column-gap: 18px;
  margin-bottom: 4px;
}

.lable-wrapper div:last-child {
  padding: 4px 0;
}

.lable-wrapper h2 {
  margin: 0;
  padding-bottom: 0;
  border: none;
  line-height: 1;
}

hr {
  margin: 0;
  margin-top: 18px;
  margin-right: -18px;
  margin-bottom: 18px;
  height: 2px;
  background-color: #eaecef;
  border: none;
}

footer {
  grid-column-start: 1;
  grid-column-end: 3;
  color: #b7bec8;
}
